.all{
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenido{
  text-align: center;
}

.txtbox{
  width: 30%;
  margin-right: 15px;
}

.txt{
  margin-right: 5px;
}

.alerta{
  margin-top: 5px;
}